  <div class="plank" fxLayout="row" fxLayoutGap="30px" fxLayout.lt-md="column">

    <div class="plank-content" fxLayout="column"  fxLayoutGap="20px" fxLayoutAlign="start">
      <div class="content-title">Railway</div>
      <div class="content-msg">
        As a seasoned executive who has worked and developed railway
        business in North America and countries around the world,
        both on the Mechanical as well as the Infrastructure side, I am able
        to connect with organizations at various levels and understand their unique ways of doing business.
        The globalization of the supply base makes understanding the international players very important.
      </div>
    </div>
    <div class="plank-img" fxHide.lt-md>
      <img height="300" width="auto" src="../../../../assets/images/trains-sunset.jpg">
    </div>

  </div>

