.example-form {
  min-width: 150px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}


.mat-raised-button{
  width: 100%;
  color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  border: none;
}


.mat-stroked-button{
  width: 100%;
  color: #17664b;
  border-color: #17664b;
}
