
<div class="plank" fxLayout="row" fxLayoutGap="30px" fxLayout.lt-md="column">
  <div class="plank-img" fxHide.lt-sm>
    <img height="300" width="auto" src="../../../../assets/images/mentoring.jpg">
  </div>
  <div class="plank-content" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start">
    <div class="content-title">Strategy</div>
    <div class="content-msg">
      I develop courses of action that strengthen a company’s competitive position.
      This includes market and industry leadership, as well as providing direction and motivation the organization.
    </div>
  </div>

</div>

