<div class="container" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="40px">

<div class="header">
  About Becker Business Strategies
</div>
  <mat-divider></mat-divider>
<div class="plank" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px" fxLayoutAlign="center center">
  <div class="plank-img" fxFlex="40" fxLayoutAlign="center center">
    <img src="../../../assets/steve.jpeg" style="margin-top: 20px">
  </div>
  <div class="plank-content" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start" fxFlex="60">
    <div class="content-title">HISTORY</div>
    <div class="content-msg">
      <a target="_blank" ref="https://www.linkedin.com/in/stephenwbecker">Stephen Becker</a> is an accomplished senior executive with extensive
      experience leading industrial companies in both the US and
      international rail markets. He also has numerous Board roles in the
      global markets. Steve particularly excels in his ability to formulate
      strategies and implementation plans to enable North American firms to
      secure profitable and prominent entry in foreign markets. He has
      successfully demonstrated that capability in both high-growth, as well
      as mature markets. It’s been said that “Steve is equally at home in the
      Board room, as on the shop floor.” In 2003, Steve was recruited to run
      and build the international business for <a target="_blank" href="https://www.amstelrail.com/">Amsted Rail</a>, where as
      Managing Director, he was accountable for all business activities
      outside of North America. In 2017, he was assigned a similar role as Executive Vice President
      Transit to develop the Passenger Rail market for Amsted.
    </div>
  </div>
</div>

  <mat-divider id="leadership"></mat-divider>

  <div class="plank" fxLayout="row" fxLayoutGap="30px">
    <!--<div class="plank-img">-->
    <!--<img height="300" width="auto" src="../../../../assets/images/globe.jpg">-->
    <!--</div>-->
    <div class="plank-content" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start">
      <div class="content-title">LEADERSHIP &amp; EXECUTIVE</div>
      <div class="content-msg">
        Widely acknowledged for his organizational development capabilities, including identification
        and career tracking of high potential individuals, Steve takes a keen interest in mentoring
        executives, and grooming his own successors.
        Steve has had full accountability for the profitable growth of $700 million revenue businesses,
        returning EBITDA margins above 20%. He has also configured successful Joint Venture
        operations in Brazil, India, China, Russia/CIS, and South Africa.
        Upon completion of his engineering studies, Steve began his career as a Project Engineer with
        National Castings, where he quickly moved up through the Operations ranks. While
        simultaneously completing his MBA, he was rewarded with Corporate Engineering, Technical
        Director, and Plant Manager responsibilities. His subsequent appointments included both Vice
        President and General Manager, Chief Technical Officer and finally Division President at ABC-
        NACO. There, his major change processes reduced manufacturing costs by 30%. He is credited
        for bringing Lean Manufacturing and Six Sigma techniques to the company.
      </div>

      <div class="content-msg" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
        <!--REVENUE GROWTH-->
        <div class="revenue" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <div style="font-size: 80px">$</div>
            <div class="odometer" id="odometer">000</div>
          </div>
          <div style="color: #17664b; text-transform: uppercase; margin-top: 20px" fxLayout="column" fxLayoutAlign="center center">
            <div style="color: #2b2b2b">MILLION</div>
            <div fxLayoutAlign="center center">Revenue Growth</div>
          </div>
        </div>

        <hr>

        <!--EBITDA MARGINS-->
        <div class="ebitda" style="color: #17664b" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <div style="font-size: 80px"><i class="fa fa-arrow-up"></i> </div>
            <div class="odometer" id="odometer2">000</div>
            <div style="font-size: 80px">%</div>

          </div>
          <div style="color: #17664b; text-transform: uppercase" fxLayout="column" fxLayoutAlign="center center">
            <div style="color: #2b2b2b">returning</div>
            <div fxLayoutAlign="center center">EBITDA margins</div>
          </div>
        </div>

        <hr>

        <!--MANUFACTURING COSTS-->
        <div class="manufacturing" style="color: darkred" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <div style="font-size: 80px"><i class="fa fa-arrow-down"></i> </div>
            <div class="odometer" id="odometer3">000</div>
            <div style="font-size: 80px">%</div>

          </div>
          <div style="color: #17664b; text-transform: uppercase" fxLayout="column" fxLayoutAlign="center center">
            <div style="color: #2b2b2b">reduced</div>
            <div fxLayoutAlign="center center">manufacturing costs</div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="plank" fxLayout="row" fxLayoutGap="30px">
    <!--<div class="plank-img">-->
    <!--<img height="300" width="auto" src="../../../../assets/images/globe.jpg">-->
    <!--</div>-->
    <div class="plank-content" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start">
      <div class="content-title">PROFESSIONAL</div>
      <div class="content-msg" fxHide fxShow.lt-md>
        Becker is an Active member with The National Association of Corporate Directors, at both the
        National level, and with the Florida Chapter. His Board roles include China based ZZABC
        Castings Co. Ltd., as Vice-Chairman, and also China based Datong CRRC Amsted Castings
        Company, also as Vice-Chairman. He also serves on the Boards of South African based Amsted
        Rail Africa, and India based Amsted Aikon. His non-profit leadership Board work includes The
        Steel Founders Society of America and Past-President of The Oak Brook Civic Association.
      </div>
      <div class="content-msg" fxHide.lt-md>
        Becker is an Active member with <a target="_blank" href="https://www.nacdonline.org/">The National Association of Corporate Directors</a>, at both the
        National level, and with the Florida Chapter.
        <div class="list">
        <mat-list class="board-roles">
          <h3 mat-subheader>His Board roles include:</h3>
          <mat-list-item>
            <span class="company">ZZABC Castings Co. Ltd.</span>
            <span class="role">Vice-Chairman</span>
            <span class="location" style="font-weight: 300"><i mat-list-icon class="fa fa-globe-asia"></i>CHINA</span>
          </mat-list-item>
          <!--<mat-divider></mat-divider>-->
          <mat-list-item>
            <span class="company"><a target="_blank" href="http://www.crrcgc.cc/abcen/g13616.aspx">Datong CRRC Amsted Castings Company</a> </span>
            <span class="role">Vice-Chairman</span>
            <span class="location" style="font-weight: 300"><i mat-list-icon class="fa fa-globe-asia"></i>CHINA</span>
          </mat-list-item>
          <!--<mat-divider></mat-divider>-->
          <mat-list-item>
            <span class="company"><a target="_blank" href="https://www.amstedrail.com/news/201706/amsted-rail-africa-rail-2017">Amsted Rail Africa</a></span>
            <span class="role">Board Member</span>
            <span class="location" style="font-weight: 300"><i mat-list-icon class="fa fa-globe-africa"></i>SOUTH AFRICA</span>
          </mat-list-item>
          <!--<mat-divider></mat-divider>-->
          <mat-list-item>
            <span class="company">Amsted Aikon</span>
            <span class="role">Board Member</span>
            <span class="location" style="font-weight: 300"><i mat-list-icon class="fa fa-globe-africa"></i>INDIA</span>
          </mat-list-item>
          <!--<mat-divider></mat-divider>-->
          <mat-list-item fxLayout.lt-md="column">
            <span class="company">Steel founders society of america</span>
            <span class="role">Board Member</span>
            <span class="location" style="font-weight: 300"><i mat-list-icon class="fa fa-globe-americas"></i>USA</span>
            <span class="nonprofit" style="font-weight: 300"><sup>NON-PROFIT</sup></span>
          </mat-list-item>
          <mat-list-item>
            <span class="company">Oak brook civic association</span>
            <span class="role">Board Member</span>
            <span class="location" style="font-weight: 300"><i mat-list-icon class="fa fa-globe-americas"></i>USA</span>
            <span class="nonprofit" style="font-weight: 300"><sup>NON-PROFIT</sup></span>
          </mat-list-item>
        </mat-list>
        </div>

      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="plank" fxLayout="row" fxLayoutGap="30px">
    <!--<div class="plank-img">-->
    <!--<img height="300" width="auto" src="../../../../assets/images/globe.jpg">-->
    <!--</div>-->
    <div class="plank-content" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start">
      <div class="content-title">EDUCATION</div>
      <div class="content-msg">
        Steve completed his MBA in Corporate Finance at DePaul University - Charles H. Kellstadt
        Graduate School of Business, with a concentration in International Business. He holds a BSIE in
        Industrial and Systems Engineering from Illinois Institute of Technology.
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="plank" fxLayout="row" fxLayoutGap="30px">
    <!--<div class="plank-img">-->
    <!--<img height="300" width="auto" src="../../../../assets/images/globe.jpg">-->
    <!--</div>-->
    <div class="plank-content" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start">
      <div class="content-title">PERSONAL</div>
      <div class="content-msg">
        He resides in Coral Gables, Florida with his wife, where they enjoy searching for antiques,
        fishing, and their dogs.
      </div>
    </div>
  </div>



</div>
