<!--SIDENAV CONTAINER-->
<mat-sidenav-container class="all-wrap">

  <!--SIDENAV PANEL-->
  <mat-sidenav #sidenav>
    <mat-list fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center start">
      <mat-list-item><span class="spacer"></span><button mat-icon-button (click)="sidenav.close()"><mat-icon class="whitecon">clear</mat-icon></button></mat-list-item>
      <mat-list-item routerLink="home" (click)="sidenav.close()"> Home</mat-list-item>
      <mat-list-item routerLink="about" (click)="sidenav.close()">Background</mat-list-item>
      <mat-list-item routerLink="expertise" (click)="sidenav.close()"> Expertise </mat-list-item>
      <mat-list-item routerLink="contact" (click)="sidenav.close()"> Contact Us </mat-list-item>
      <mat-list-item routerLink="clients" *ngIf="authService?.loggedIn()" (click)="sidenav.close()">
        <mat-icon style="color: #17664b; cursor: pointer;margin-right: 16px">supervised_user_circle</mat-icon>
        Client List
      </mat-list-item>


    </mat-list>
  </mat-sidenav>

  <!--"expertise" MENU-->
  <mat-menu #menu="matMenu" class="menu" [overlapTrigger]="false" yPosition="below" style="background-color: #2b2b2b;">
    <a href="http://localhost:4200/expertise#mentoring">
    <button mat-menu-item routerLink="expertise"><mat-icon><i class="fa fa-comments"></i></mat-icon>Mentoring</button>
    </a>
    <a href="http://localhost:4200/expertise#international">
      <button mat-menu-item> <mat-icon class="fa fa-globe-americas"></mat-icon> International</button>
    </a>
    <a href="http://localhost:4200/expertise#metrics">
      <button mat-menu-item><mat-icon>bar_chart</mat-icon>Metrics</button>
    </a>
    <a href="http://localhost:4200/expertise#strategy">
      <button mat-menu-item><mat-icon>trending_up</mat-icon>Strategy</button>
    </a>
    <a href="http://localhost:4200/expertise#railway">
      <button mat-menu-item><mat-icon>directions_railway</mat-icon>Railway</button>
    </a>
  </mat-menu>

  <!--USER MENU-->
  <mat-menu #usermenu="matMenu" class="menu" [overlapTrigger]="false" yPosition="below" style="background-color: #2b2b2b;">
    <div mat-menu-item="">{{username}}</div>
    <button mat-menu-item routerLink="profile"><mat-icon class="fa fa-user"></mat-icon> Profile</button>
    <button mat-menu-item (click)="onLogoutClick()"><mat-icon><i class="fa fa-sign-out-alt"></i></mat-icon>Sign Out</button>
  </mat-menu>


  <!--APP BEGINS-->
  <div class="app" id="app">

    <!--NAV BAR-->
    <header>
    <mat-toolbar class="nav-bar mat-elevation-z6" color="primary" fxLayoutAlign="space-evenly center">
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="5px">

        <!--MENU BURGER APPEARS ON MOBILE-->
        <div class="sidenav-icon" fxShow.lt-md="true" fxHide fxLayoutAlign="center center">
          <button mat-icon-button (click)="sidenav.open()"><mat-icon style="color:#2b2b2b;">menu</mat-icon></button>
        </div>

        <span class="spacer" fxShow.lt-md="true" fxHide></span>
        <!--LOGO-->
          <div class="logo" fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="16px" routerLink="home">
            <div fxHide.lt-md><img height="40px" width="auto" src="../assets/logos/blogo2.png"></div>
            <div>
              <img height="auto" width="200px" width.lt-md="100px" src="../assets/logos/bbs-words.png">
            </div>
          </div>

        <div class="spacer" fxFlex></div>





        <!--NAV LINKS-->
        <div class="nav-links" fxLayout="row" fxFlex fxHide.lt-md="true" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
          <a routerLink="clients" *ngIf="authService?.loggedIn()">
            <div class="nav-item" fxLayout="row" fxLayoutGap="5px">
              Client List
            </div>
          </a>
          <a routerLink="home">
            <div class="nav-item">
              Home
            </div>
          </a>
          <a routerLink="about">
            <div class="nav-item">
              Background
            </div>
          </a>
          <a routerLink="expertise">
            <div class="nav-item" fxLayoutAlign="center center">
              Expertise
              <!--<mat-icon [matMenuTriggerFor]="menu">keyboard_arrow_down</mat-icon>-->
            </div>
        </a>
          <a routerLink="contact">
            <div class="nav-contact" fxLayoutAlign="center center">
              Contact
            </div>
          </a>
        </div>

        <!--IF LOGGED IN SHOWS ADMIN ICON-->
        <div *ngIf="authService?.loggedIn()" fxLayoutAlign="center center" fxLayoutGap="20px" [matMenuTriggerFor]="usermenu" class="admin">
          <mat-icon style="color: #17664b; cursor: pointer;">supervised_user_circle</mat-icon>
        </div>

      </mat-toolbar-row>
    </mat-toolbar>
  </header>


  <main class="content" id="content">
      <router-outlet></router-outlet>
    <flash-messages></flash-messages>
  </main>

  <footer>
    <mat-toolbar class="footer mat-elevation-z4" id="footer">
     <div fxLayout="row" fxHide fxShow.lt-md style="width: 100%;">
      <div class="bbs-msg">
        &copy; 2018 Becker Business Strategies
      </div>
      <span class="spacer"></span>
       <div fxLayoutAlign="center center">
         <div class="bbs-msg">{{username}}</div>
         <button mat-icon-button (click)="logIn()" style="color:#fff;">
           <mat-icon style="color: white;">account_box</mat-icon>
         </button>
       </div>
     </div>
      <div fxLayout="row" fxLayoutAlign="space-evenly" fxLayoutGap="30px" style="width: 100%" fxHide.lt-md>
      <div class="nav-links" id="client-list" fxLayout="column" fxLayoutGap="10px" fxFlex="16">
        <div class="logo"> <img (click)="logIn()" height="40" width="auto" src="../assets/logos/blogo2.png"> </div>
      </div>
      <div class="nav-links" id="home" fxLayout="column" fxLayoutGap="10px" fxFlex="16">
        <div><a routerLink="home">Home</a></div>
        <ul class="nav-item" *ngIf="authService?.loggedIn()">
          <li><a routerLink="clients"> Client List</a></li>
        </ul>

      </div>
      <div class="nav-links" id="about" fxLayoutAlign="center" fxLayout="column" fxLayoutGap="10px" fxFlex="16">
        <div><a routerLink="about">About</a></div>
          <div>
            <ul class="nav-item" *ngFor="let about of abouts">
              <li><a routerLink="{{about.link}}">{{about.name}}</a></li>
            </ul>
          </div>
        </div>
      <div class="nav-links" id="expertise" fxLayoutAlign="center" fxLayout="column" fxLayoutGap="10px" fxFlex="16">
        <div><a routerLink="expertise">Expertise</a></div>
        <div>
          <ul class="nav-item" *ngFor="let expertise of expertises">
            <li><a routerLink="{{expertise.link}}">{{expertise.name}}</a></li>
          </ul>
        </div>
      </div>
      <div class="nav-links" id="contact" fxLayout="column" fxLayoutGap="10px" fxFlex="16">
        <div><a routerLink="contact">Contact</a> </div>
        <div class="nav-item">
          <ul class="nav-item">
            <li><a href="mailto:swbdesk@aol.com" style="text-transform: lowercase">swbdesk@aol.com</a> </li>
          </ul>
        </div>
      </div>
        <span class="spacer"></span>
      <div class="nav-links" id="social"  fxLayoutAlign="space-between end" fxLayout="column" fxLayoutGap="10px" fxFlex="16">
        <div class="nav-item"><a href="https://www.linkedin.com/in/stephenwbecker/"> <i class="fab fa-linkedin fa-2x"></i></a> </div>
        <div class="spacer"></div>
        <div class="nav-item">
         &copy; 2018 Becker Business Strategies
        </div>
      </div>

    </div>
    </mat-toolbar>
  </footer>

</div>
