
  <div class="plank" id="mentoring" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="30px">
    <div class="plank-content" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start">
      <div class="content-title">Mentoring</div>
      <div class="content-msg">
        As someone who has already “been there”,<br>
        I enjoy imparting my work experiences on others to help guide them along the way.
        Acting as a sounding board as well as a role model helps me to enhance the value of developing
        talent and gives them the opportunity to question and develop their own skill set.
      </div>
    </div>
    <div class="plank-img" fxHide.lt-md>
      <img height="300" width="auto" src="../../../../assets/images/consulting-above.jpg">
    </div>
  </div>



