  <div class="plank" fxLayout="row" fxLayoutGap="30px" fxLayout.lt-md="column">

    <div class="plank-content" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start">
      <div class="content-title">Metrics</div>
      <div class="content-msg">
        Utilizing a drive to manage by the numbers,
        I work to improve productivity and utilization of the business.
        This includes eliminating waste, reducing costs through lean manufacturing techniques,
        and managing the supply chain.
      </div>
    </div>
    <div class="plank-img" fxHide.lt-md>
      <img height="300" width="auto" src="../../../../assets/images/metrics-phone.jpg">
    </div>
  </div>


