/* Coolors Exported Palette - coolors.co/17664b-2b2b2b-ffffff-aa8946-33658a */

/* HSL */
$color1: hsla(159%, 63%, 25%, 1);
$color2: hsla(0%, 0%, 17%, 1);
$color3: hsla(0%, 0%, 100%, 1);
$color4: hsla(40%, 42%, 47%, 1);
$color5: hsla(206%, 46%, 37%, 1);

/* RGB */
$color1: rgba(23, 102, 75, 1);
$color2: rgba(43, 43, 43, 1);
$color3: rgba(255, 255, 255, 1);
$color4: rgba(170, 137, 70, 1);
$color5: #1e242e;
