@import "../../../styles";


.footer {
  background-color: #2b2b2b;
  height: auto;
  color: white;
  padding: 24px;
  .nav-links {
    font-size: 14px;
    font-weight: 900;
    color: $bbs-white;
    padding: 24px;
    a {
      text-decoration: underline;
      color: white
    }
    text-transform: uppercase;
    .nav-item {
      padding: 0;
      margin: 0;
      list-style: none;
      li, a {
        text-transform: capitalize;
        text-decoration: none;
        font-weight: lighter;
        color: $bbs-white;
        font-family: $fontFamily;
        font-size: 12px;

      }
    }
    .nav-contact {
      border: 3px solid #17664b;
      border-radius: 25px;
      padding: 5px 20px;
      color: #2b2b2b;
      width: 150px;
      text-decoration: none;
      &:hover, &:active {
        background-color: #17664b;
        color: #FFFFFF;
        cursor: pointer;
      }
    }
  }
}
